*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.toggle{
    position: relative;
    width: 90px;
    height: 40px;
}

.toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    inset: 0;
    background-color: #2a2f36;
    border-radius: 44px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider::before{
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle input:checked + .slider{
    background-color: #4174fa;    
}

.toggle input:checked + .slider::before{
    transform: translatex(46px);
}